.flight-search{
    padding-top: 100px;
}


.form-floating{
    width: 20% ;
    margin: 5px;
}
.form-floating input{
    width: 100% !important;
}



.flight-search button{
    padding: 10px 20px;
    background-color: #3db9ef;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.flight-search button:hover{
    background-color: #226a8a;
}

.dropdown-button {
    padding: 10px 20px;
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



