
.editbtn{
    background-color: #1bcfff;
    color: white;
}
.editbtn:hover{
    background-color: #0099cc;
}

.savebtn{
    background-color: #1bcfff;
    color: white;
}
.savebtn:hover{
    background-color: #0099cc;
}