.btn-hpay{
    background-color: #3db9ef;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    /* width: 100%; */
}
.btn-hpay:hover {
    background-color: #0099cc;
}
.conbtn{
  background-color: #3db9ef;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.conbtn:hover {
  background-color: #0099cc;
}

.payment-container{
     border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}