.hotel-search input {
    width: 25%;
    padding: 10px;
    margin: 5px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.hotel-search input:focus {
    outline: none;
    border-color: #de4e48;
    box-shadow: 0 0 5px 5px #d8b6b3;
}

.hotel-search button{
    padding: 10px 20px;
    background-color: #d8b6b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hotel-search button:hover{
    background-color: #d8b6b3;
}

.hotel-list table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

.hotel-list th, .hotel-list td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.hotel-list th{
    background-color: #de4e48;
    color: #fff;
}

.hotel-list td button{
    padding: 5px 10px;
    background-color: #de4e48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hotel-list td button:hover{
    background-color: #d8b6b3;
}

.slider {
  margin-top: 20px;
  width: 25%;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #de4e48, #de4e48);
  border-radius: 5px;
  outline: none;
}

/* شريط الخلفية للكروم */
.slider input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #d8b6b3, #de4e48);
  border-radius: 5px;
}

/* الدائرة للكروم */
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 3px solid #de4e48;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  transition: 0.2s;
}

/* الدائرة لفايرفوكس */
.slider input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 3px solid #de4e48;
  border-radius: 50%;
  cursor: pointer;
}

/* الشريط الخلفي للفايرفوكس */
.slider input[type="range"]::-moz-range-track {
  height: 8px;
  background: linear-gradient(to right, #de4e48, #de4e48);
  border-radius: 5px;
}
