.login {
    background-image: url("../../assets/flight.jpg");
    background-size: cover;
    background-position: center;

}

.form-control {
  width: 100%;
  outline: #3db9ef;
    border: 1px solid #3db9ef;
    background-color: transparent;
}   
.form-control:focus {
  outline: 2px solid #3db9ef;
  border-color: #3db9ef;
    box-shadow: 0 0 5px 2px #66bee4;
    background-color: transparent;
}
label{
    color: #66bee4 !important;
        font-weight: 600;
        font-size: 1.2rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transition: 0.3s all;
}
.login h1{
  color: #3db9ef;
    font-size: 4rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}
.login h1::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 30%;
    height: 0px;
    transform: translateX(-50%);
    background: rgba(137, 208, 239, 0.5);
    transition: 1s all;
}
.login h1:hover::after{
    height: 40px;
}

.login {
    color: #0a0a0a;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
    color: #3db9ef;
    text-decoration: none;
    transition: color 0.3s ease;
}
.login a{
    color: #3db9ef;
}
.login-btn {
  background-color: #3db9ef;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0b719d;
}